aws-cdk.aws-certificatemanager==1.62.0
aws-cdk.aws-apigateway==1.62.0
aws-cdk.aws-dynamodb==1.62.0
aws-cdk.aws-cloudfront==1.62.0
aws-cdk.aws-events==1.62.0
aws-cdk.aws-events-targets==1.62.0
aws-cdk.aws-iam==1.62.0
aws-cdk.aws-lambda==1.62.0
aws-cdk.aws-route53==1.62.0
aws-cdk.aws-route53-targets==1.62.0
aws-cdk.aws-s3==1.62.0
aws-cdk.aws-s3-deployment==1.62.0
aws-cdk.core==1.62.0
